<div ng-show="tab === 'books' && refId" ng-controller="booksCtrl as ctrl">
    <div id="books-header">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#books-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Books</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="books-navbar">
                    <button id="select-books" class="btn btn-default navbar-btn" ng-click="ctrl.showList()"><span class="glyphicon glyphicon-check"></span> Select</button>
                </div>
            </div>
        </nav>
    </div>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)">{{alert.msg}}</alert>
    <div class="col-sm-12">
        <div ng-repeat="record in records">
            <div class="col-md-4 col-sm-6 col-lg-3 well">
                <div class="col-md-12">
                    <div class="img-thumbnail" id="image" ng-if="record.image">
                        <a ng-href="{{record.image}}" target="_blank"><img class="img-responsive" style="height: 20vmax;" ng-src="{{record.image}}" alt="{{record.image}}"></a>
                    </div>
                </div>
                <div class="caption" >
                    <p><strong>Name:</strong> {{record.name}}</p>
                    <p><strong>Description:</strong> {{record.description}}</p>
                    <p><strong>ISBN:</strong> {{record.isbn}}</p>
                    <p><strong>Editorial:</strong> {{record.editorial.name}}</p>
                </div>
                <p class="text-center">
                    <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.removeBook($index)"><span class="glyphicon glyphicon-minus"></span> Remove</button>
                </p>
            </div>
        </div>
    </div>
</div>